@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@media screen and (max-width:640px) {

  
  
#sub_menu ul{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#sub_menu li{
  width: 50%;
  margin-bottom: 1%;
	line-height: 1.1em ;
	float:left;
}

#sub_menu li a{
	display: block;
	padding: 4%;
}
#sub_menu li a:hover{
	display: block;
	padding: 4%;
	background-color: #E6E7E4;
}

#content #sub_menu02{
  margin: 55px auto 0;
  padding: 10px 0 0;
	background: url("../img/common/gk_line_sub.png") repeat-x top;
  background-color: #fff;
}
#content #sub_menu02 h2{
  margin: 0 auto;
  padding: 8px 0;
  border-bottom: #ccc 1px solid;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  color: #0A4D00;
}
#content #sub_menu02 h2 .small{
  font-size: 70%;
}
#content #sub_menu02 h2 img{
  width: inherit;
}
#content #sub_menu02 ul{
  width: 95%;
  margin: 0 auto;
  padding-left: 4%;
  text-align: center;
}

#content #sub_menu02 li{
  width: 49%;
  margin: 0 auto;
  border-bottom: #ccc 1px solid;
	line-height: 1.1em ;
	float:left;
}
#content #sub_menu02 li.sp_liw{
  width: 100%;
  margin: 0 auto;
  border-bottom: #ccc 1px solid;
	line-height: 1.1em ;
	float:left;
}
#content #sub_menu02 li.sp_liw img{
  width: 50%;
}

#content #sub_menu02 li:last-child{
	border-right: none;
}

#content #sub_menu02 li a{
	display: block;
	padding: 12px;
}
#content #sub_menu02 li a:hover{
	display: block;
	padding: 12px;
	background-color: #E6E7E4;
}
  
section#business_sale #sub_menu03 {
    width: 98%;
    margin: 55px auto 0;
    padding: 10px 0 0;
    background: url(../img/common/gk_line_sub.png) repeat-x top;
}
  section#business_sale #sub_menu03 h2 {
    width: 98%;
    margin: 0 auto;
    padding: 8px 0;
    border-bottom: #ccc 1px solid;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #4A3500;
}
#sub_menu03 ul{
width: 95%;
margin: 0 auto;
padding-left: 4%;
text-align: center;
}

#sub_menu03 li{
  width: 49%;
  margin: 0 auto;
  border-bottom: #ccc 1px solid!important;
  line-height: 1.1em;
  float: left;
}
  #sub_menu03 li:last-child{
    width: 98%;
  }

#sub_menu03 li a{
	display: block;
	padding: 4%;
}
#sub_menu03 li a:hover{
	display: block;
	padding: 4%;
	background-color: #E6E7E4;
}
  #sub_menu03 li:last-child a{
	padding: 2%;
}
#sub_menu03 li:last-child a:hover{
	padding: 2%;
}

#under_pan{
  background-color: #e7bd2c;
}
#under_pan p{
  width: 90%;
  margin: 0 auto;
  padding: 8px 0 0;
}
#under_pan_old{
  width: 99%;
  margin: 0 auto 0;
  padding: 10px 0 ;
	background: url("../img/common/gk_line_sub2.png") repeat-x bottom;
}
#under_pan_old p{
  width: 95%;
  margin: 0 auto;
  padding: 8px 0 0 5%;
  background-color: #e7bd2c;
  font-size: 120%;
}

#under_menu,
#under_menu01_2{
  background-color: #666;
}
#under_menu ul,
#under_menu01_2 ul{
  width: 95%;
  margin: 0 auto 10px;
  padding-left: 4%;
  text-align: center;
}
#under_menu01_2 ul{
  margin: 0 auto;
}

#under_menu li{
  width: 49%;
  margin: 0 auto;
	line-height: 1.1em ;
	float:left;
}
#under_menu01_2 li{
  width: 95%;
  margin: 0 auto;
	line-height: 1.1em ;
	float:left;
}

#under_menu li a,
#under_menu01_2 li a{
	display: block;
	padding: 10px;
  padding-bottom: 20px;
	background: url("../img/common/arrow_by.png") no-repeat center 28px;
  color: #fdf7dd;
}
#under_menu li.on a,
#under_menu01_2 li.on a{
  background-image: none;
  background-color: #E6E7E4;
  color: #666;
}
#under_menu li a:hover,
#under_menu01_2 li a:hover{
	display: block;
	padding: 10px;
  padding-bottom: 20px;
	background-color: #E6E7E4;
  color: #666;
  opacity: 0.7;  
  filter: alpha(opacity=70);  
}
#under_menu li.li_ww,
#under_menu li.li_wm,
#under_menu li.li_wl{
  width: 100%;
}

#under_menu02{
  background-color: #666;
}
#under_menu02 ul{
  width: 95%;
  margin: 0 auto 10px;
  padding-left: 4%;
  text-align: center;
}

#under_menu02 li{
  width: 32%;
  margin: 0 auto;
	line-height: 1.1em ;
	float:left;
}

#under_menu02 li a{
	display: block;
	padding: 5px;
  color: #fdf7dd;
}
#under_menu02 li a:hover{
	display: block;
	padding: 5px;
	background-color: #E6E7E4;
  color: #666;
  opacity: 0.7;  
  filter: alpha(opacity=70);  
}

#under_menu03{
  background-color: #aaa;
}
#under_menu03 ul{
  width: 95%;
  margin: 0 auto;
  padding-left: 4%;
  text-align: center;
}

#under_menu03 li{
  width: 32%;
  margin: 0 auto;
	line-height: 1.1em ;
	float:left;
}
#under_menu03 li.li_wm{
  width: 49%;
}

#under_menu03 li a{
	display: block;
	padding: 5px;
  color: #fdf7dd;
}
#under_menu03 li a:hover{
	display: block;
	padding: 5px;
	background-color: #E6E7E4;
  color: #666;
  opacity: 0.7;  
  filter: alpha(opacity=70);  
}
  
.wrap_whi{
  width: 90%;
  margin: auto auto 3%;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px/5px;
}
.wrap_hover a,
.wrap_whi.wrap30L a{
	display: block;
}
.wrap_hover a:hover,
.wrap_whi.wrap30L a:hover{
	display: block;
	background-color: #e9ffff;
}

section.explanatory .wrap_m .memoTl,
section.explanatory .wrap_m .memoT,
section.explanatory .wrap_m .memoT2{
  width: 98%;
  height: auto;
  min-height: 64px;
  margin: 20px auto 0;
	background: url("../img/reason/back_memo_t.png") no-repeat left top;
  background-size: 100%;
}
section.explanatory .wrap_m .memoMl,
section.explanatory .wrap_m .memoM{
  width: 98%;
  height: 22%;
  margin: 0 auto;
	background: url("../img/reason/back_memo_m.png") repeat-y left top;
  background-size: 100%;
}
section.explanatory .wrap_m .memoBl,
section.explanatory .wrap_m .memoB,
section.explanatory .wrap_m .memoB2{
  width: 98%;
  height: 16px;
  margin: 0 auto 20px;
	background: url("../img/reason/back_memo_b.png") no-repeat left top;
  background-size: 100%;
}
section.explanatory .wrap_m .memoPl,
section.explanatory .wrap_m .memoPl_2,
section.explanatory .wrap_m .memoP,
section.explanatory .wrap_m .memoP_2,
section.explanatory .wrap_m .memoP_3{
  width: 80%;
  line-height: 1.2em;
  font-size: 100%;
  font-weight: bold;
}
section.explanatory .wrap_m .memoPl,
section.explanatory .wrap_m .memoP,
section.explanatory .wrap_m .memoP_3{
  padding: 5% 0 2% 15%;
}
section.explanatory .wrap_m .memoPl_2,
section.explanatory .wrap_m .memoP_2{
  padding: 1% 0 2% 15%;
}

section.explanatory .wrap_m ul{
  margin: 12px 0 12px 25px;
  padding: 3px;
  line-height: 1.3em;
}
section.explanatory .wrap_m ul li{
  margin-bottom: 3px;
  list-style-type: disc;
}

/* message */ 
section#message .explanatory h2{
  margin: 3% auto;
  padding: 8px;
  background-color: #fff;
  text-indent: inherit;
  text-align: center;
  font-size: 200%;
  font-weight: 600;
  color: #e79b00;
}
section#message h3{
  margin: 3% 3% 0;
  padding-bottom: 2%;
  border-bottom: #eeb032 2px dotted;
  font-size: 150%;
  font-weight: 500;
  color: #e79b00;
  text-indent: 0;
}
section#message .explanatory .wrap_m{
	margin: 3% 3%;
}
section#message .explanatory .wrap_m p{
	margin-bottom: 2%;
  clear: both;
}
section#message .explanatory .wrap_m img{
  width: 70%;
	margin: 2%;
  float: right;
}
section#message .explanatory .wrap_m img.img_2{
  width: 85%;
	margin: 1% 1% 0;
  float: none;
}

/* company */ 
section#company{
  margin-bottom: 0;
  padding-bottom: 0;
}
section.mainimg_com{
  width: 100%;
  height: 0;
  padding-top: calc(1.169 * 65%);
  position: relative;
	background: rgba(0, 0, 0, 0) url("../img/about-company/main_company_sp.png") no-repeat scroll center top / cover  ;
  z-index: 5;
  text-indent: -99999px;
}
  
section#company h2.main_title{
  width: 95%;
  height: 90px;
  margin: 8px auto 15px;
	background: url("../img/about-company/main_title_sp.png") no-repeat left top;
  background-size: contain;
  text-indent: -99999px;
}
  
section#company h3{
  margin: 5px auto;
  padding-bottom: 5px;
  border-bottom: #FBD44D 1px solid;
  font-size: 20px;
  font-weight: bold;
}
section#company h3.exe_h3{
  margin: 15px 10px 5px;
  padding: 5px 10px;
  background-color: #FBD44D;
  clear: both;
}
  
section#company h2.h_title_5{
	background: url("../img/about-company/h_title_5_sp.png") no-repeat left top;
  background-size: contain;
}

section#company h2.profile_title{
  width: 80%;
  margin: auto auto;
  text-indent: inherit;
}
section#company .logo_img{
  width: 50%;
  margin: 2% 1% 5%;
}

section#company .explanatory .wrap_l{
  width: 95%;
	margin: 3% auto 8%;
}
section#company .explanatory .wrap_m{
	margin: 3% 3%;
  border: none;
}
section#company .explanatory .wrap_m.borderG{
  border: #e7bd2c 1px solid;
}
section#company .explanatory .wrap_m img{
  width: inherit;
  margin: auto auto 5px 5px;
}
section#company .explanatory .wrap_m img.sp_70{
  width: 70%;
  margin: 1% 12%;
}
section#company .explanatory .wrap_m img.sp_90{
  width: 90%;
  margin: 1% 0;
}
section#company .explanatory .wrap_m img.spFr{
  float: right;
}
section#company .explanatory .wrap_m img.w100{
  width: 100%;
}
section#company .explanatory .wrap_m p.w230{
  width: 230px;
	margin: auto;
}
section#company .explanatory dl{
  width: 97%;
  margin: auto auto 20px;
  overflow: hidden;
}
section#company .explanatory dl dt{
  padding: 5px;
	background: url("../img/about-work/group_line.png") no-repeat center bottom;
  font-size: 110%;
  font-weight: 500;
}
section#company .explanatory dl dd{
  padding: 5px 5px 10px;
}
section#company .explanatory .wrap_pro dl dt{
  color: #0A4D00;
}
section#company .explanatory table{
  width: 98%;
  margin: 20px 1%;
  padding: 0;
  border-top: #bbb 1px solid;
  border-collapse: collapse;
  color: #0A4D00;
}
section#company .explanatory table th{
  width: 98%;
  display: block;
  margin: 0;
  padding: 1%;
  border: #bbb 1px solid;
  border-top: none;
  border-collapse: collapse;
  background-color: #E1E5E3;
  text-align: left;
}
section#company .explanatory table td{
  width: 98%;
  display: block;
  padding: 1%;
  border: #bbb 1px solid;
  border-top: none;
  border-collapse: collapse;
}

section#company .explanatory table td ul{
  padding: 0 0 0 20px;
}
section#company .explanatory table td ul li{
  padding: 0 0 8px 3px;
  list-style: circle;
  line-height: 1.2em;
}

section#company .explanatory #executive ul{
  width: 96%;
  margin: auto;
  padding: 0;
}
section#company .explanatory #executive ul li{
  margin: 1%;
  padding: 2%;
  background-color: #fff;
  border: #e7bd2c 1px solid;
  border-radius: 5px/5px;
  list-style: none;
  float: left;
}
section#company .explanatory #executive ul li.li_ceo{
  border: #e7bd2c 5px double;
  border-radius: 5px/5px;
}
section#company .explanatory #executive ul li img{
  width: 45%;
  float: left;
}
section#company .explanatory #executive ul li p{
  width: 49%;
  float: right;
}
section#company .explanatory #executive ul li p.belong,
section#company .explanatory #executive ul li p.belong_s{
  border-bottom: #e7bd2c 1px dotted;
  margin-bottom: 15px;
  padding-bottom: 8px;
  line-height: 1.2em;
  font-size: 130%;
  font-weight: bold;
}
section#company .explanatory #executive ul li p.position,
section#company .explanatory #executive ul li p.position_s{
  margin-bottom: 10px;
  line-height: 1.2em;
  font-size: 100%;
}
section#company .explanatory #executive ul li p.name,
section#company .explanatory #executive ul li p.name_s{
  font-size: 180%;
  font-weight: bold;
}
  
  /* 2017-09追加 */  
  section#company .explanatory  p.grouopTxt01 {
    float: none;
    display: block;
    width: 100%;
  }
  section#company .explanatory img.groupPh01 {
    width:80%; 
    height: auto;  
    display: block;
    margin: 15px 10% 0;
  }
  /* 2017-09追加ここまで */ 
  
  /*●●●●●●●group.html AZEST-RENT　2017-09●●●●●●●*/
  section#company .explanatory .rentLink01 {
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0; 
    display: block;
    vertical-align: top;
  }
  section#company .explanatory .rentLink01 .linkbtn01 {
    width: 100%; 
    box-sizing: border-box; 
    display: block;
    margin-right:0;
    margin-top: 20px;
    padding: 0;
  }
 section#company .explanatory .rentLink01 .linkbtn01 img {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }

  section#company .explanatory .rentLink01 .linkbtn01 .hmlink01{
    background: url(/img/about-company/btn-homemate_02_2.png) no-repeat 0 0;
    background-size: 100% auto;
  }
 section#company .explanatory .rentLink01 .linkbtn01 .hmlink02{
    background: url(/img/about-company/btn-homemate_03_2.png) no-repeat 0 0;
    background-size: 100% auto;
  }
  section#company .explanatory .rentLink01 .linkbtn01 a:hover .hmlink01 img,
  section#company .explanatory .rentLink01 .linkbtn01 a:hover .hmlink02 img {
    opacity: 0.0;  
    filter: alpha(opacity=0);
  }
  section#company .explanatory .rentAddress01 {
    padding-left: 7.5em;
  }
  /*●●●●●●●group.html AZEST-RENT　2017-09 ここまで●●●●●●●*/  
  
/* 2017/10追加　youtube動画埋め込み */
/* news/2017/20171004.htrml youtube埋め込み用 */

 section#company .youtubewrapper {
   width: 100%;
   margin-bottom: 10px;
}
section#company .youtubewrapper p {
  width: 100%;
  position: relative;
 top: 12px;
  }
section#company .youtube01 {
position:relative;
width:100%;
padding-top:56.25%;
}
section#company .youtube01 iframe {
position:absolute;
top:0;
right:0;
width:100%;
height:100%;
margin: 10px 0!important;
}
/* 2017/10追加ここまで */

section#company .explanatory #executive ul li p.belong_s,
section#company .explanatory #executive ul li p.position_s,
section#company .explanatory #executive ul li p.name_s{
/*  font-family: "HGP正楷書体", "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
*/}
section#company .explanatory #executive ul li p.belong,
section#company .explanatory #executive ul li p.position,
section#company .explanatory #executive ul li p.name{
/*  font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
*/}
  
  /*●●●●●●●philanthropy.html スポンサーシップ追加　2019-09 ●●●●●●●*/ 
  
 section#company .explanatory img.phi_2imgL {
  width: 98%;
  height: auto;
   margin-top: 3%;
  margin-bottom: 2%;
  }
  section#company .explanatory img.phi_2imgR {
    width: 98%;
    height: auto;
  }
   section#company .explanatory img.phi_2imgRT {/* たて位置の場合 */
     width: 65%;
     height: auto;
     margin-left: 16%;
     margin-right: 17%;
  }
     section#company .explanatory img.phi_3imgRT {/* たて位置の場合（ゴルフ） */
     width: 86%;
     height: auto;
     margin-left: 7%;
     margin-right: 7%;
    margin-top: 3%;
  }
   section#company .explanatory div.phi_space {/*たて位置imageが入ったときのアキ調整*/
    width: 100%;
    padding-left: 0;
  }
  section#company .explanatory img.phi_1imgS {
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
  }
   section#company .explanatory img.phi_3imgL {/*３点並びのスマホ用*/
  width: 98%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 0;
  }
  section#company .explanatory img.phi_3imgR {
    width: 98%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 0;
  }
  section#company .explanatory img.maxw350 {/* 同上左右幅調整 */
  max-width: 350px;
  margin-bottom: 0;
  } 
  section#company .explanatory table.sponsored {
    margin-bottom: 0;
  }
  section#company .explanatory table.sponsored td dl {
    margin-bottom: 0;
    display: block;
  }
  section#company .explanatory table.sponsored td dl dt {
    float: left;
    clear: left;
    padding: 0;
    background: none;
    vertical-align: top;
    font-size: 100%;
    padding-bottom: 0.2rem;
  }
section#company .explanatory table.sponsored td dl dd {
  margin-left: 2.8rem!important;
  padding: 0;
  vertical-align: top;
  padding-bottom: 0.2rem;
  }
  /* イメージ４点並び（リンクバナー） */
  section#company .explanatory img.phi_4img1,
  section#company .explanatory img.phi_4img2,
  section#company .explanatory img.phi_4img3,
  section#company .explanatory img.phi_4img4 {
  width: 49%!important;
  height: auto;
  margin-top: 3%;
  margin-left: 0;
  margin-right: 2%;
  display: inline-block;
  float: left;
  }
  section#company .explanatory img.phi_4img3,
  section#company .explanatory img.phi_4img4 {
  margin-top: 2%;
   }
  section#company .explanatory img.phi_4img2,
  section#company .explanatory img.phi_4img4 {
  margin-right: 0;
   }
  section#company .explanatory img.phi_3img {
    clear: left;
  }
  
  /*●●●●●●●group.html AZEST-RENT　2017-09 ここまで●●●●●●●*/ 

/* work */ 
section#work{
  margin-bottom: 0;
  padding-bottom: 0;
}
section.mainimg_work{
  width: 100%;
  height: 0;
  padding-top: calc(1.169 * 65%);
  position: relative;
	background: rgba(0, 0, 0, 0) url("../img/about-work/main_work_sp.png") no-repeat scroll center center / cover  ;
  z-index: 5;
  text-indent: -99999px;
}
section#work{
  margin-bottom: 0;
  padding-bottom: 0;
}
  
section#work h2.main_title{
  width: 95%;
  height: 90px;
  margin: 8px auto 15px;
	background: url("../img/about-work/main_title_sp.png") no-repeat left top;
  background-size: contain;
  text-indent: -99999px;
}
  
section#work h3{
  margin: 5px auto;
  padding-bottom: 5px;
  border-bottom: #FBD44D 1px solid;
  font-size: 18px;
  font-weight: bold;
}
section#work h3.maru_g p{
  margin: 0 5px;
  font-size: 20px;
  font-weight: bold;
  color: #e7bd2c;
  float: left;
}
  
section#work .explanatory .wrap_l{
  width: 95%;
	margin: 3% auto 8%;
}
section#work .explanatory .wrap_m{
	margin: 3% 3%;
  border: none;
}
section#work .explanatory .wrap_m.borderG{
  border: #e7bd2c 1px solid;
}
section#work .explanatory .wrap_m img{
  width: inherit;
  margin: auto auto 5px 5px;
}
section#work .explanatory .wrap_m img.sp_70{
  width: 70%;
  margin: 1% 12%;
}
section#work .explanatory .wrap_m img.sp_90{
  width: 90%;
  margin: 1% 0;
}
section#work .explanatory .wrap_m img.spFr{
  float: right;
}
section#work .explanatory .wrap_m img.w100{
  width: 100%;
}

section#work .explanatory .wrap_m p.w_32{
  margin: 10px auto;
  text-align: center;
}
section#work .wrap_m ul.plan_ul{
  width: 98%;
  margin: 0 auto;
  line-height: 1.3em;
}
section#work .wrap_m ul.plan_ul li{
  margin: 2% auto;
  padding: 0;
  border: #FBD44D 1px solid;
  border-radius: 5px/5px;
  list-style: none;
}
section#work .wrap_m ul.plan_ul li p{
  padding: 2%;
}
section#work .wrap_m ul.plan_ul li p.p_h2{
  padding: 1% 2%;
  background-color: #F3AB24;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 120%;
  font-weight: bold;
  color: #fff;
}
    /* セミナーリンクバナー */
section#work .explanatory .seminarBnr {
  width: 89%; 
  background: #ff8585; 
  -webkit-box-shadow: 2px 2px 2px #333;
  -moz-box-shadow: 2px 2px 2px #333;
  box-shadow: 2px 2px 2px #333;
  font-size: 107%;
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.3;
  color: #fff;
  padding: 15px 10px;
  margin: 3% 3% 6%;
  border-radius: 5px/5px
}
  section#work .explanatory a .seminarBnr {
    color: #fff;
  }
   section#work .explanatory a .seminarBnr:hover {
    opacity: 0.7;  
    filter: alpha(opacity=70); 
  }
  section#work .explanatory .seminarBnr span {
    white-space: nowrap;
  }



/* 物件 business */ 

section.mainimg_busi{
  width: 100%;
  height: 0;
  padding-top: calc(1.169 * 65%);
  position: relative;
	background: rgba(0, 0, 0, 0) url("../img/business/main_business_sp.png") no-repeat scroll center center / cover  ;
  z-index: 5;
  text-indent: -99999px;
}

section#business.explanatory .wrap_l{
  padding: 8px;
  border-width: 1px;
  border-radius: 5px/5px;
}
section#business.explanatory .wrap_l.mb_10{
  margin-bottom: 10px;
}

section#business h2.main_title{
  width: 95%;
  height: 90px;
  margin: 8px auto 15px;
	background: url("../img/business/main_title_sp.png") no-repeat left top;
  background-size: contain;
  text-indent: -99999px;
}
  
section#business h2.busi_h2,
section#business h3.busi_h3{
	margin: 5px auto;
  padding: 0 0 5px 2%;
  border-bottom: #666 solid 2px;
	font-size: 20px;
	font-weight: bold;
  color: #333;
}
section#business h3.sale_h3{
	margin: 5px auto;
  padding: 0 0 5px 2%;
  border-bottom: #aaa dotted 2px;
	font-size: 18px;
	font-weight: bold;
  color: #333;
  clear: both;
}
  
section#business .wrap_l ul.busi_top{
  line-height: 1.3em;
}
section#business .wrap_l ul.busi_top li{
  width: 95%;
}
section#business ul.busi_top li.li_clear{
  width: 98%;
  text-align: right;
  clear: both;
  float: none;
}

section#business .wrap_l ul.busi_top dl{
  width: 100%;
  margin: 12px 7px;
  text-align: center;
  border: #F1AB26 solid 1px;
  overflow: hidden;
}
section#business .wrap_l ul.busi_top dl dt{
  width: 50%;
  padding: 8px 0;
  background-color: #F1AB26;
  line-height: 1.5em;
  font-size: 20px;
  color: #fff;
  float: left;
  clear: both;
}
section#business .wrap_l ul.busi_top dl dd{
  width: 50%;
  padding: 8px 0;
  line-height: 1.5em;
  font-size: 20px;
  float: left;
}

section#business .wrap_l ul.busi_list{
  margin: 0 auto;
  text-align: center;
}

section#business .wrap_l ul.busi_list li{
  width: 95%;
  margin: 0 7px 8px;
  border: #ccc 1px solid;
  font-size: 20px;
  font-weight: bold;
	line-height: 1.5em ;
}
section#business .wrap_l ul.busi_list li a{
	display: block;
	padding: 12px;
	background-color: #555;
  color: #fff;
}
section#business .wrap_l ul.busi_list li a:hover{
	display: block;
	padding: 12px;
	background-color: #E6E7E4;
  color: #333;
}

section#business .wrap_l img.saleImg_w{
  margin: 5px;
  border: #ccc 1px solid;
}
section#business.explanatory .wrap_l dl.onSale{
  width: 98%;
  margin: 5px auto;
  border-bottom: #ccc 1px solid;
  overflow: hidden;
}
section#business.explanatory .wrap_l dl.onSale dt{
  padding: 5px;
  border-bottom: #e7bd2c 1px solid;
  font-size: 110%;
  font-weight: bold;
}
section#business.explanatory .wrap_l dl.onSale dd{
  padding: 5px 5px 8px;
}
section#business.explanatory .wrap_l dl.onSale .fSizeL{
  font-size: 150%;
}
section#business.explanatory .wrap_l dl.onSale dd a{
	display: block;
  margin-bottom: 15px;
	padding: 10px;
	background-color: #555;
  color: #fff;
  text-align: center;
}
section#business.explanatory .wrap_l dl.onSale dd a:hover{
	display: block;
	padding: 10px;
	background-color: #E6E7E4;
  color: #333;
}

section#business #area{
  margin-bottom: 20px;
  border-bottom: #625D57 1px dotted;
}
section#business #area ul{
  width: 98%;
  margin: 10px auto 20px;
  max-width: 900px;
  clear: both;
}
section#business #area li a{
  width: 98%;
  margin: 5px 1% 10px;
  padding: 0;
	display: block;
  border: #625D57 1px solid;
	line-height: 1.2em ;
  overflow: hidden;
}
section#business #area li a:hover{
	display: block;
	padding: 0;
  background-color: #625D57;
  color: #FFF;
}
section#business #area li p{
  margin: 0;
  padding: 8px;
  font-size: 15px;
  text-align: center;
}
section#business #area li p.f_l{
  width: 54%;
  border-right: #625D57 1px solid;
  float: left;
}
section#business #area li a:hover p.f_l{
  border-right: #fff 1px solid;
}
section#business #area li p.f_r{
  width: 32%;
  float: right;
}

section#business #area li p.mb_15{
  margin-bottom: 15px;
}
section#business #area li p.h_name{
  width: 100%;
  margin: 0;
  padding: 5px;
  background-color: #625D57;
  color: #FFF;
  font-weight: bold;
	line-height: 1.2em ;
}
section#business #area li a:hover p.h_name{
  background-color: #FFF;
  color: #625D57;
}
  
section#business #area02{
  clear: both;
}
section#business #area02 p.area_p{
  margin: 0 7px;
  font-size: 16px;
  font-weight: bold;
	line-height: 1.5em ;
}
section#business #area02 ul{
  width: 99%;
  margin: 0 auto;
  text-align: center;
  float: left;
}
section#business #area02 ul li{
  width: 47%;
  margin: 0 1% 10px;
  border: #ccc 1px solid;
  font-size: 20px;
  font-weight: bold;
	line-height: 1.5em ;
	float:left;
}
section#business #area02 ul li a{
	display: block;
	padding: 8px;
}
section#business #area02 ul li a p{
  padding-bottom: 3px;
  line-height: 1.2em;
}
  
section#business #area02 .fLeft.ulW{
  width: 48%;
  margin: 0 1%;
  float: left;
}
section#business #area02 .fLeft.ulW ul li{
  width: 98%;
}
  
section#business .new_property ul{
  width: 95%;
  margin: 15px auto;
  text-align: center;
  clear: both;
}

section#business .new_property li{
  width: 98%;
  margin: 0 auto 8px;
	line-height: 1.1em ;
}

  
/* reason */ 
section#reason{
  margin-bottom: 0;
  padding-bottom: 0;
}
  
section#reason h3{
  margin: 5px auto;
  padding-bottom: 5px;
  border-bottom: #FBD44D 1px solid;
  font-size: 17px;
  font-weight: bold;
}
  
section#reason .explanatory .wrap_m{
	margin: 3% 3%;
  border: none;
}
section#reason .explanatory .wrap_m.borderG{
  border: #e7bd2c 1px solid;
}section#reason .explanatory .reasonTable01 {
    width: 100%;
    border: solid 1px #333;
    border-bottom: none;
    border-collapse: collapse;
  }
section#reason .explanatory .reasonTable01 th,
  section#reason .explanatory .reasonTable01 td {
  border: solid 1px #333;
  padding: 3px;
  vertical-align: bottom;
  }
  section#reason .explanatory .reasonTable01 th {
  border-left: none;
  font-weight: normal;
  text-align: left;
  }
  section#reason .explanatory .reasonTable01 td {
  border-right: none;
  }
section#reason .explanatory .wrap_m img{
  width: inherit;
  margin: 8px;
}
section#reason .explanatory .wrap_m img.sp_60{
  width: 60%;
  margin: 1% 20%;
}
section#reason .explanatory .wrap_m img.sp_70{
  width: 70%;
  margin: 1% 10%;
}
section#reason .explanatory .wrap_m img.sp_90{
  width: 90%;
  margin: 1% 0;
}
section#reason .explanatory .wrap_m img.spFr{
  float: right;
}
section#reason .explanatory .wrap_m img.w100{
  width: 100%;
  height: auto;
}
section#reason .explanatory .wrap_m img.w80{
  width: 80%;
  height: auto;
  margin-left: 10%!important;
  margin-right: 10%!important;
}
section#reason .explanatory .wrap_m img.w65{
  width: 65%;
  height: auto;
  margin-left: 17%!important;
  margin-right: 18%!important;
}
section#reason .explanatory .wrap_m img.w63{
  width: 63%;
  height: auto;
  margin-left: 18%!important;
  margin-right: 19%!important;
}
section#reason .explanatory .wrap_m img.w56{
  width: 56%;
  height: auto;
  margin-left: 22%!important;
  margin-right: 22%!important;
}
section#reason .explanatory .wrap_m img.w54{
width: 54%;
height: auto;
margin-left: 23%!important;
margin-right: 23%!important;
} 

section#reason .explanatory .qaP_a{
  margin: 8px;
}
section#reason .explanatory .aB{
  font-size: 120%;
  font-weight: bold;
  color: #5bb2be;
}
section#reason .explanatory .frame01{
  border: 2px solid #000;
  padding: 3%;
  margin-top: 25px;
}
section#reason .explanatory .frame02{
  border: 2px solid #5975a5;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #dae3f3;
  width: 98.5%;
  margin-left: 0.7%;
}
  section#reason .explanatory .frame03{
  border: 2px solid #000!important;
  padding: 3%!important;
  height: auto!important;
} 

/* form */
#form{
  width: 100%;
  margin: 0 auto;
}
#form #sub_menu{
  width: 100%;
  margin: 55px auto 0;
  padding: 10px 0 0;
	background: url("../img/common/gk_line_sub.png") repeat-x top;
}
#form #sub_menu h2{
  width: 100%;
  margin: 0 auto;
  padding: 8px 0;
  border-bottom: #ccc 1px solid;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #0A4D00;
}

#form .explanatory h3{
  margin: 0 auto 1%;
  padding: 8px;
  background-color: #fff;
  text-indent: inherit;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  color: #0A4D00;
}
#form .explanatory p{
  margin: 8px;
}
#form .explanatory img{
  margin: 8px auto;
}

.red,
.error{
color:#f00;
}
.gray{
color:#666;	
}

#form .explanatory table{
  width: 97%;
  margin: auto auto 20px;
  border-collapse: collapse;
  color: #0A4D00;
}
#form .explanatory table th{
  width: 95%;
  display: block;
  padding: 2%;
  border: #bbb 1px solid;
  border-collapse: collapse;
  background-color: #F5F5E3;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
}
#form .explanatory table td{
  width: 95%;
  display: block;
  padding: 2%;
  border: #bbb 1px solid;
  border-top: none;
  border-collapse: collapse;
}
#form .explanatory table td input,
#form .explanatory table td textarea{
  width: 96%;
  display: block;
}
#form .explanatory table td input.w_s{
  width: 10%;
  display: block;
  float: left;
}

/* news sub */
section#news h3{
  margin: 5px auto;
  padding: 0 0 5px 5px;
  border-bottom: #FBD44D 1px solid;
  font-size: 19px;
  font-weight: bold;
}
section#news .explanatory .wrap_pro dl{
  width: 98%;
  margin: 15px auto;
  overflow: hidden;
}
section#news .explanatory .wrap_pro dl dt{
  width: 100%;
  padding: 2% 0 0;
	background-image: none;
  font-size: 110%;
  font-weight: 500;
  color: #0A4D00;
  float: left;
  clear: both;
}
section#news .explanatory .wrap_pro dl dd{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 0 15px;
  border-bottom: #aaa 1px dotted;
  float: left;
}
    /* TV－CM掲載一覧用 */
  section#news .explanatory .wrap_pro dl.tvcm{
  width: 99%;
  margin: 1% 1% 1% 0;
  }
section#news .explanatory .wrap_pro dl.tvcm dt{
  width: 45px;
  padding: 0;
	background-image: none;
  border: none;
  font-size: 100%;
  font-weight: normal;
  color: #000000;
  float: left;
  clear: both;
  margin: 0;
  text-align: left;
}
section#news .explanatory .wrap_pro dl.tvcm dd{
  width: 80%;
  padding: 0;
  border: none;
  float: left;
  margin: 0;
}
   /* TV－CM掲載一覧用ここまで */
section#news .explanatory .wrap_pro dt.date01{
	background: url(../img/top/topi_tab1.png) no-repeat right center;
}
section#news .explanatory .wrap_pro dt.date02{
	background: url(../img/top/topi_tab2.png) no-repeat right center;
}
section#news .explanatory .wrap_pro dt.date03{
	background: url(../img/top/topi_tab3.png) no-repeat right center;
}
section#news .explanatory .wrap_pro dl dd a{
  text-decoration: underline;
}

section#news .explanatory .wrap_pro ol{
  margin: 12px 0 12px 20px;
  padding: 3px;
  line-height: 1.3em;
}
section#news .explanatory .wrap_pro ol li{
  margin-bottom: 3px;
  list-style-type: decimal;
}

section#news .explanatory .wrap_pro a{
  text-decoration: underline;
}
section#news .explanatory .wrap_pro p.ymd{
  margin-bottom: 15px;
  text-align: right;
  color: #3D5134;
}

/* faq */
section#faq h3{
  margin: 5px auto;
  padding: 0 0 5px 5px;
  border-bottom: #FBD44D 1px solid;
  font-size: 19px;
  font-weight: bold;
}
section#faq .explanatory .wrap_pro dl.fq_dlL,
section#faq .explanatory .wrap_pro dl{
  width: 95%;
  margin: 1% auto;
  padding: 8px;
  border: #0A4D00 solid 1px;
  border-radius: 5px/5px;
  overflow: hidden;
  float: left;
}
section#faq .explanatory .wrap_pro dl dt{
  width: 98%;
  padding: 5px 0;
	background-image: none;
  border-bottom: #0A4D00 solid 1px;
  font-size: 110%;
  font-weight: 500;
  color: #0A4D00;
  float: left;
  clear: both;
}
section#faq .explanatory .wrap_pro dl.fq_dlL,
section#faq .explanatory .wrap_pro dl dd{
  width: 98%;
  padding: 5px 0;
  float: left;
}
section#faq .explanatory .wrap_pro dl:hover{
	background-color: #fff3c7;
  opacity: 0.7;  
  filter: alpha(opacity=70);  
}

/* card */
section#card h3{
  margin: 5px auto;
  padding: 0 0 5px 5px;
  border-bottom: #FBD44D 1px solid;
  font-size: 19px;
  font-weight: bold;
}
section#card .explanatory .wrap_pro dl{
  width: 95%;
  margin: 1% auto;
  padding: 8px;
  border: #0A4D00 solid 1px;
  border-radius: 5px/5px;
  overflow: hidden;
  float: left;
}
section#card .explanatory .wrap_pro dl dt{
  width: 98%;
  padding: 5px 0;
	background-image: none;
  border-bottom: #0A4D00 solid 1px;
  font-size: 110%;
  font-weight: 500;
  color: #0A4D00;
  float: left;
  clear: both;
}
section#card .explanatory .wrap_pro dl dd{
  width: 98%;
  padding: 5px 0;
  float: left;
}
section#card .explanatory .wrap_pro dl:hover{
	background-color: #fff3c7;
  opacity: 0.7;  
  filter: alpha(opacity=70);  
}
  
/* card 利用規約 */
section.card{
  width: 100%;
	margin: 0 auto;
  padding: 60px 0 0;
  overflow: hidden;
}
  
section.card .inner{
  width: 95%;
  margin: 0 auto 3%;
  padding: 1%;
  border: #dedede solid 1px;
  overflow: hidden;
}

section.card .title{
	margin: 8% auto 10%;
  overflow: hidden;
  text-align: center;
}

section.card .title h2{
  width: 10em;
	margin: 2% auto;
  padding-bottom: 5px;
  border-bottom: #bbb solid 5px;
	font-size: 24px;
	font-weight: bold;
  line-height: 1.2em;
}

section.card h3{
	margin: 1% auto;
  padding: 1% 2%;
  border-left: #ddd solid 15px;
	font-size: 16px;
	font-weight: bold;
}

section.card p{
  margin: 2% 0;
  padding: 1%;
  line-height: 1.3em;
}
section.card p.bot_0{
  margin-bottom: 0;
  padding-bottom: 0;
}
section.card p.txt_ind{
  margin-top: 0;
  margin-left: 5%;
  text-indent: -4%;
}
section.card p.address_box{
  margin: 4%;
  padding: 4%;
  border: #CAD3BF solid 2px;
  text-align: center;
  line-height: 1.5em;
}

section.card ol{
  margin: 1% 0 1% 5%;
  padding: 1%;
  line-height: 1.3em;
}
section.card ol li{
  margin-bottom: 3px;
  list-style-type: decimal;
}
section.card ol li.listy_none{
  margin-left: -4%;
  list-style-type: none;
  font-size: 80%;
}
section.card ul{
  margin: 1% 0 1% 5%;
  padding: 1%;
  line-height: 1.3em;
}
section.card ul li{
  margin-bottom: 3px;
  list-style-type: disc;
}

section.card .inner p a{
  text-decoration: underline;
}



}




















